.autocomplete-suggestions {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    border: 1px solid #ccc;
    border-top-color: #898989;
    border-bottom-width: 0;
    border-radius: 0px 0px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    overflow: auto;
}
.autocomplete-suggestion { 
    line-height: 1.1;
    padding: .5em 1em;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.autocomplete-suggestion strong { 
    color: $dark-red;
}
.autocomplete-selected { background: #98d8e2; }
.autocomplete-group { padding: 2px 1em; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }