label {
    font-family: $heading-font-family;
    padding: $form-field-padding-y $form-field-padding-x 0;
    transition: all .2s;
}
.field {
    color: $black;
    background-color: transparent;
    border: 0;
    border-bottom: $border-width solid $border-color;
}

.field:focus {
    outline: none;
    border-color: $light-blue;
    box-shadow: 0 0 0 2px color($light-blue a(.5));
}

.field:disabled {
    background-color: $darken-2;
    opacity: .5;
}

.field:read-only:not(select) {
    background-color: $darken-2;
}

.field:invalid {
    border-color: $dark-red;
}

.field.success {
    border-color: $green;
}

.field.warning {
    border-color: $yellow;
}

.field.error {
    border-color: $dark-red;
}

.js-field-active label {
    color: #bbc3cf;
    font-size: $h6;
    top: -.5em;
    padding-top: 0;
    padding-bottom: 0;
}
select.field {
    margin-top: -1em;
}
.field:focus {
    background-color: rgba(255,255,255,.5);
}
.js-field-active .field:focus {
    background-color: transparent;
}