$gold: #d4af37 !default;
$light-blue: #98d8e2 !default;
$navy: #001F3F !default;
$green: #2ecc40 !default;
$yellow: #ffdc00 !default;
$red: #ec1d36 !default;
$dark-red: #4c121d !default;
$white: #fff !default;
$silver: #efefef !default;
$gray: #77869f !default;
$light-gray: #b5bfcf !default;
$black: #162536 !default;
$font-family: 'Domine', serif !default;
$line-height: 1.7 !default;
$heading-font-family: 'Montserrat', sans-serif !default;
$heading-font-weight: bold !default;
$heading-line-height: 1.1 !default;
$monospace-font-family: 'Source Code Pro', Consolas, monospace !default;
$pre-background-color: transparent !default;
$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: .875rem !default;
$h6: .75rem !default;
$link-color: $dark-red !default;
$bold-font-weight: bold !default;
$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;
$form-field-font-size: 1rem !default;
$form-field-height: 2.25rem !default;
$form-field-padding-y: .5rem !default;
$form-field-padding-x: .5rem !default;
$button-background-color: $red !default;
$button-font-size: $h5 !default;
$button-font-weight: bold !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 1rem !default;
$container-width: 35em !default;
$darken-1: rgba(0,0,0,.0625) !default;
$darken-2: rgba(0,0,0,.125) !default;
$darken-3: rgba(0,0,0,.25) !default;
$darken-4: rgba(0,0,0,.5) !default;
$lighten-1: rgba(255,255,255,.0625) !default;
$border-width: 1px !default;
$border-radius: 0px !default;
$border-color: $darken-2 !default;
$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;
$table-header-font-weight: $bold-font-weight !default;
$table-cell-padding-x: .25rem !default;
$table-cell-padding-y: .25rem !default;