@import "normalize";
@import "variables";
@import "icon";
@import "background-image";
@import "border";
@import "button-base";
@import "button-outline";
@import "color-button";
@import "color-form";
@import "color-table";
@import "color-typography";
@import "color-base";
@import "form-base";
@import "grid";
@import "group";
@import "layout";
@import "position";
@import "state-responsive";
@import "table-base";
@import "table-object";
@import "typography-base";
@import "typography-utility";
@import "space-responsive";
@import "space";
@import "jquery-ui";
@import "pickadate/pickadate";
@import "autocomplete/autocomplete";

html, body {
    height: 100%;
}
.main {
    min-height: 100%;
    margin: 0 0 -3.5rem 0;
}
.main-content {
    padding: 0 0 3.5rem 0;
}
.foot {
    height: 1.5rem;
}

.font-body { font-family: $font-family }
.font-heading { font-family: $heading-font-family }

.logo {
    width: 406px;
    margin-left: 6%;
}
@media #{$breakpoint-sm} {
    .logo {
        margin-left: 130px;
    }
}
.head {
    font-family: $heading-font-family;
    padding:  7rem 0 2rem 0;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.head a:hover {
    color: $red;
}

.event-date {
    line-height: $heading-line-height;
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
@media #{$breakpoint-sm} {
    .event-name {
        font-size: $h3;
    }
}
.event-details {
    padding-left: 1.2em;
}

.time-input:read-only:not(select),
.date-input:read-only:not(select) {
    background: $white;
}